/* Reset */
:root {
  --primary: rgb(0, 255, 136);
  --bg: rgb(0, 27, 14);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background: url("img/rempah.jpg");
  color: var(--primary);
  min-height: auto;
}

/* Header */
header {
  text-align: center;
  background: url(img/gambar1-jpg.jpg);
  color: white;
  padding: 20px 0;
}

#cart-summary {
  margin-top: 10px;
  font-size: 18px;
}

/* Product List */
.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1200px;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  margin: 20px;
  width: 220px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  color: #28a745;
  font-weight: bold;
}

.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #218838;
}
/* General Button Styling */
button {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Back to Menu Button */
.menu-button-container {
  text-align: center;
  margin-top: 20px;
}

.menu-button {
  background-color: var(--primary);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 12px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-button a {
  color: rgb(0, 0, 0);
}

.menu-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
